/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2021, 11:34:57 AM
    Author     : Lahiru De silva 
*/

.search-container {
      margin-left: 120px;
}


.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

#box{
    margin-top: 20px;
     margin-left: 520px;
}

.search-box{
    
}


.search-box input{
    background: white;
    margin-left: 10px;
    border: coral;
    text-align: center;
    padding: 5px 50px;
    flex: 1;
    height: auto;
    outline: coral;
    
}

.search-box button{
    padding: 5px 7px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 6px;
    background: #ddd;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.layoutAdmin{
  -webkit-box-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  -webkit-box-pack: baseline;
          justify-content: space-around;
 
  margin-top: 30px;
  flex-wrap: wrap;
  margin-left: 30px ;
    height: 400px;
    width: 1200px;
    overflow: auto;
}

.profileView{
  -webkit-animation: popUp ease-in-out 350ms;
          animation: popUp ease-in-out 350ms;
  background: #262525;
  color: white;
  border-radius: 25px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.17);
  margin-top: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  
  position: relative;
  padding: 38px 30px 30px 35px;
  width: 500px;
  
}
.profile:hover{
    opacity: 0.6;

}