/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2020, 1:19:34 PM
    Author     : Lahiru De silva 
*/

body {
    background-color: #444442;
    padding-top: 85px;
}

h2{
    padding-top: 40px;
    text-align: center;
    color: black;
}

.container{
    position: relative;
    margin: 5%;
    margin-top: 80px;
    left: 29%;
    height: 400px;
    width: 650px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#back{
    font-family: verdana;
    background-color: darkgray;
    margin-top: 50px;
    margin-left: 70px;  
    width: 80%;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
    opacity: 1; 
}   

#back:hover{
    opacity: 0.7;
}
